/* 
****** GLOBAL *******
*/

body {
  margin: 0;
  padding-left: 10px; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #292929;
  background-color:#F2F2F2 ;

  text-decoration: none; 
 
}

h1 {
  font-size: 50pt; 
}

 h1 a {
    color:white;
     
  }

  #header a {
    color:white;
  }

h2 {
    color:#04C4D9;
    font-size: 36pt; 
  }



h3 {
  color: #04C4D9;
  margin-top:0px; 

}

a {
  color:#04C4D9;
  text-decoration: none; 
}

.link { 
  text-decoration: none; 
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: #000000

}

/*
***** FOR QUIZ LIST AND ITS CHILD QUIZ PREVIEW ******
*/

#quiz-list{
 
  text-align: center; 
}

.quiz-preview {
  border: 1px solid white; 
  border-radius: 5px;
  margin: 15px;
  height: 150px; 
  width: 500px; 
  font-size: 20px; 
  text-align:center; 
}

.preview-textbox{
height: 130px; 
line-height: 130px;
margin-top: 10px; 
width: 480px; 
margin-left: 10px;    
background-color: #ffffffcc; 
}


/*
****** HEADER, FOOTER, SEARCH BAR COMPONENTS
*/

#header {
  min-height: 100px; 
  margin-top: 0px;
  padding: 20px; 
  background-color: #F2522E;
  color: white; 
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#footer{
  min-height: 20px; 
  padding: 20px; 
  background-color: #F2522E;
  color: white; 
  border-radius: 5px;
  text-align: center; 
}

.footer-link {
  color: white; 
}

#footer p {
  margin: 0px; 
  font-size: 10pt; 
}

#search {
  background-color: #F2CD5E;
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px; 
  padding-left: 20px; 
  padding-top: 5px; 
  padding-bottom: 5px;
  color: #F2522E; 
}


/*
***** FOR QUIZ COMPONENT AND EVERYTHING INSIDE IT ******
*/

#quiz-component {
  width: 75%;
  margin: auto;
  text-align: center; 
}


.question-answer-holder{
  clear: both;
  width: 350px;
  margin: auto;

}

.results-div{
  clear:both;
  width: 350px;
  margin: auto;
  height: 250px; 
  text-align:center;
  border: 1px solid white; 
}

.other-questions {
  min-height: 100px; 
  width: 100%; 
  background-color: #04C4D966;
  border-radius: 5px; 
  margin-top: 15px; 
}

.current-question {
  min-height: 100px; 
  width: 100%; 
  background-color: #04C4D9;
  border-radius: 5px; 
  margin-top: 15px; 
}

.other-questions-options {
  width: 100px; 
  min-height: 100px; 
  margin: 5px; 
  background-color: #04C4D966; 
  color: #F2F2F2; 
  float: left; 
}

.current-question-options {
  width: 100px; 
  min-height: 100px; 
  margin: 5px; 
  color: #F2F2F2; 
  float: left; 
  background-color: #04C4D9; 
}

.current-question-options:active{
  background-color:#F2137B
}

/*
***** SUGGESTION PAGE **** 
*/

#suggest-form{
  background-color: #7FBF50;
  width: 300px; 
  padding: 20px; 
  border: 1px solid black; 
  border-radius: 5px; 
  margin: auto
}

#suggest-textbox{
  width: 200px; 
  height: 150px; 
}

#suggest-user {
  width: 200px; 
}

.suggestion{
  width: 300px; 
  padding: 20px; 
  border: 1px solid black; 
  border-radius: 5px; 
  margin: auto; 
  margin-top: 10px; 
  margin-bottom: 10px;  
  background-color: #fff;
}

.suggestion p {
  margin-top: 0px; 
}

.suggestion h4 {
  margin: 0px; 
}
/*
COLORS

pink #F2137B
teal #04C4D9
lime #7FBF50
yellow #F2CD5E
orange #F2522E


*/



